@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../base/breakpoints' as *;

// line
.up-line {
	@include md {
		height: 1.5px;
		width: 100px;
		background-color: color(bg-color);
		margin-bottom: 2em;
	}
}

// line shapes
%decoration {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	z-index: -1;
}

.decoration-left,
.decoration-right {
	@extend %decoration;

	@include md {
		display: none;
	}
}

.decoration-left {
	top: 370px;
	left: -10px;
	background-image: url('../../dist/img/bg-pattern-intro-left-mobile.svg');

	@include breakpoint('375px') {
		top: 450px;
	}
}
.decoration-right {
	bottom: -510px;
	left: 0;
	background-position: right;
	background-image: url('../../dist/img/bg-pattern-intro-right-mobile.svg');
}

.decoration-desktop-left,
.decoration-desktop-right {
	@extend %decoration;
	display: none;

	@include breakpoint('1100px') {
		display: block;
	}
}

.decoration-desktop-left {
	@include breakpoint('1100px') {
		background-image: url('../../dist/img/bg-pattern-intro-left-desktop.svg');
		top: 350px;
		left: 0;
	}
}

.decoration-desktop-right {
	@include breakpoint('1100px') {
		background-image: url('../../dist/img/bg-pattern-intro-right-desktop.svg');
		background-position: right;
		top: 0;
		right: -50px;
		z-index: 1;
	}
}
