@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../base/breakpoints' as *;

.header {
	position: relative;
	background-color: color(main-color);
	z-index: 0;
	padding-top: 68px;

	@include md {
		padding-top: 72.8px;
	}

	@include lg {
		padding-top: 84.8px;
	}

	.wrapper {
		@include md {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
		}
	}

	&__image-mobile,
	&__image-desktop {
		width: 100%;
	}

	&__image-mobile {
		img {
			width: 100%;
			max-height: 450px;
			object-fit: cover;
		}

		@include md {
			display: none;
		}
	}

	&__image-desktop {
		display: none;

		@include md {
			position: relative;
			display: block;
			grid-row: 1/2;
			grid-column: 2/3;
		}

		img {
			@include md {
				position: absolute;
				top: 5em;
				right: 0;
				width: 100%;
				padding-left: 2em;
			}
		}
	}

	&__info {
		padding: 5em 0;
		color: color(bg-color);
		text-align: center;
		z-index: 10;

		@include md {
			position: relative;
			padding-right: 2em;
			grid-row: 1/2;
			grid-column: 1/2;
			text-align: left;
		}

		@include xl {
			padding: 6em 0;
		}

		.up-line {
			@include md {
				@include upLine(bg-color);
			}
		}

		&-title {
			font-size: 4rem;
			line-height: 105%;
			margin-bottom: 0.6em;

			@include md {
				font-size: 5.2rem;
			}
		}

		&-text {
			line-height: 170%;
			margin-bottom: 1.6em;

			@include md {
				font-size: 2rem;
			}
		}

		.bordered-button-light {
			margin: 0 auto;
			width: 60%;
			letter-spacing: 2px;

			@include md {
				margin: 0;
			}

			@include lg {
				width: 40%;
			}
		}
	}
}
