@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../base/breakpoints' as *;

.nav {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: color(bg-color);
	padding: 1em 0;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

	@include lg {
		padding: 1.2em 0;
	}

	&__bar {
		position: relative;
		@include flexCenter;
		justify-content: space-between;
		z-index: 1;
	}

	&__logo {
		&-item {
			object-fit: cover;
		}
	}

	&__btn {
		@include md {
			display: none;
		}

		&-item {
			background: none;
			border: none;
			cursor: pointer;
		}
	}

	&__mobile {
		position: fixed;
		top: 0;
		height: 100vh;
		width: 100%;
		@include flexCenter;
		align-items: flex-start;
		padding: 6em 0;
		background-color: color(second-bg-color);
		background-image: url('../../dist/img/bg-pattern-mobile-nav.svg');
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;
		transform: translateY(-1000px);
		transition: transform 0.6s;

		@include breakpoint('400px') {
			background-image: none;
		}

		@include md {
			display: none;
		}
	}

	.show-nav {
		transform: translateY(0);
	}

	&__desktop {
		display: none;

		@include md {
			display: flex;
		}
	}

	&__list {
		@include flexCenter(column);
		list-style-type: none;
		font-size: 2.2rem;
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		font-weight: 700;

		@include md {
			flex-direction: row;
			font-size: 1.6rem;
		}

		@include lg {
			font-size: 1.8rem;
		}

		a {
			display: inline-block;
			width: 100%;
			margin: 0.2em 0;
			padding: 0.8em 0;
			text-decoration: none;
			color: color(bg-color);
			transition: color 0.3s, background-color 0.3s;

			&:hover {
				color: color(hover-color);
			}

			@include sm {
				margin: 0.6em 0;
			}

			@include md {
				width: auto;
				margin: 0;
				padding: 0.6em 1.2em;
				color: color(hover-color);

				&:hover {
					color: color(main-color);
				}
			}
		}

		.bordered-button-dark {
			color: color(second-bg-color);

			&:hover {
				color: color(bg-color);
			}
		}

		.bordered-button-light:hover {
			color: color(second-bg-color);
		}
	}
}
